html {
    background-color: slategrey;
}

.container {
    height: 97.5vh;
}

#ball {
    height: 50%;
}

h1 {
    font-size: 1em;
}

.form {
    position: absolute;
    text-align: center;
    height: 60.5%;
    top: 21%;
    bottom: 21%;
    left: 25%;
    right: 25%;
}